@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@import "reset.css";
@import "variables.css";

/* 요소 */
@import "요소/네비.css";
@import "요소/상태창.css";
@import "요소/화면-헤더.css";
@import "요소/유저-요소.css";
@import "요소/아이콘-정렬.css";
@import "요소/설정-헤더.css";
@import "요소/이동-화면.css";
@import "요소/모바일-지원안됨.css";

/* 화면 */
@import "화면/로그인.css";
@import "화면/친구.css";
@import "화면/찾기.css";
@import "화면/더보기.css";
@import "화면/설정.css";
@import "화면/채팅창.css";

body {
  color: #2e363e;
  font-family: "Noto Sans KR", sans-serif;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.메인-화면 {
  padding: 0px var(--horizontal-space);
}
