.상태창 {
  display: flex;
  justify-content: center;
}
.상태창__column {
  width: 33%;
}
.상태창__column:first-child span {
  margin-right: 5px;
}
.상태창__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.상태창__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.상태창__column .fa-battery-full {
  margin: 0px 5px;
}
