#모바일-지원안됨 {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--serenity);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 0;
}

@media screen and (max-width: 500px) {
  #모바일-지원안됨 {
    display: none;
  }
}
